body {
    background-color: #74d5ac;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
        } 

        body{
            display: grid;
            justify-content: center;
            align-items: grid;
            height: 100vh;
        }
        
        #caroussel {
            /*width: 250px;*/
            overflow: hidden;
            /*border: 3px solid black;*/
        }
        
        .images {
            display: flex;
            animation-duration: 20s;
            animation-name: mesImages;
            animation-iteration-count: infinite;
            height: 250px;
            /*border: 3px solid black;*/
            /*box-shadow: 5px 5px 0px 0px;*/
           
        }
        
        @keyframes mesImages {
            0% {
                transform: translateX(0);
            }
            10% {
                transform: translateX(-250px);
            }
            20% {
                transform: translateX(-500px);
            }
            30% {
                transform: translateX(-750px);
            }
            40% {
                transform: translateX(-1000);
            }
            50% {
                transform: translateX(-1250);
            }
            60% {
                transform: translateX(-1500px);
            }
            70% {
                transform: translateX(-1750px);
            }
            80% {
                transform: translateX(-2000px);
            }
            90% {
                transform: translateX(-2350px);
            }
            100% {
                transform: translateX(0);
            }
                
        }
        .lien {
            display: flex;
            justify-content: center;
           
        }
        .parent {
            width: 100%;
            height: 100%;
            text-align: center;
            margin: auto;
        }
        
        
        